@import url('reset.css');

/* General Demo Style */

a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px