/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
	background-color:#000;
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */

.logo {
	background:url(../img/logo.png);
	width:170px;
	height:200px;
	margin:0 auto;
}

.bebas {background:url(../img/bebas.gif);
width:130px; height:50px;
margin: 0 auto;
margin-top:-25px;
}

.bebas:active {
	background:url(../img/bebas1.png);
}

.container {
	width:400px;
	height:400px;
	margin: 0 auto;
}

p {
	color:#fff;
	font-size:25px;
	text-align:center;
	margin-top:-30px;
	font-family:helvetica-black;
}

.h90
{height:250px;
}

.footer {
	width:400px;
	height:30px;
	margin:0 auto;
	color:#CCC;
	font-family:helvetica-black;
	font-size:10px;
	text-align:center;
	padding:0px;
}
.footer a {
	text-decoration:none;
	font-size:11px;
	color:#fff;
}

.footer p {
	font-size:11px;
	padding-bottom:
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px)
